body {
  display: flex;
}

.game-container {
  width: 500px;
  height: 730px;
  position: absolute;
  left: 80px;
}

.border-left {
  width: 80px;
  height: 790px;
  position: absolute;
  background-color: white;
  z-index: +2;
}

.border-right {
  width: 80px;
  height: 790px;
  position: absolute;
  background-color: white;
  z-index: +2;
  left: 580px;
}

.border-top {
  width: 660px;
  height: 50px;
  position: absolute;
  background-color: white;
  z-index: +2;
  top: -50px;
}

.sky {
  background-image: url("./images/Day\ Sky\ long.png");
  width: 500px;
  height: 580px;
  position: absolute;
}

.sky-moving {
  background-image: url("./images/Day\ Sky\ long.png");
  width: 500px;
  height: 580px;
  position: absolute;
  background-repeat: repeat-x;
  animation: slideleft 300s infinite linear;
  -webkit-animation: slideleft 1500s infinite linear;
  /* width: 100%; */
}

.ground {
  background-image: url("bottom-background.png");
  width: 500px;
  height: 150px;
  position: absolute;
  top: 580px;
  z-index: +1;
}

.bird {
  background-image: url("./images/hassan-border.png");
  position: absolute;
  width: 60px;
  height: 62px;
  left: 220px;
  bottom: 100px;
}

/* Fork and knife */

.obstacleFork {
  background-image: url("./images/flappybird-fork.png");
  width: 60px;
  height: 300px;
  position: absolute;
}

.topObstacleFork {
  background-image: url("./images/flappybird-fork.png");
  transform: rotate(180deg);
  width: 60px;
  height: 300px;
  position: absolute;
}

.obstacleKnife {
  background-image: url("./images/flappybird-knife.png");
  width: 60px;
  height: 300px;
  position: absolute;
}

.topObstacleKnife {
  background-image: url("./images/flappybird-knife.png");
  transform: rotate(180deg);
  width: 60px;
  height: 300px;
  position: absolute;
}

/* Coffee */

.obstacleCoffee {
  background-image: url("./images/coffee.png");
  width: 200px;
  height: 300px;
  position: absolute;
}

/* Khadija */

.obstacleKhadija {
  background-image: url("./images/khadija.png");
  width: 200px;
  height: 300px;
  position: absolute;
}

/* Pipes */

.obstaclePipe {
  background-image: url("flappybird-pipe.png");
  width: 60px;
  height: 300px;
  position: absolute;
}

.topObstaclePipe {
  background-image: url("flappybird-pipe.png");
  transform: rotate(180deg);
  width: 60px;
  height: 300px;
  position: absolute;
}

/* Salmon */

.obstacleSalmon {
  background-image: url("./images/salmon.png");
  width: 60px;
  height: 300px;
  position: absolute;
}

.topObstacleSalmon {
  background-image: url("./images/salmon.png");
  transform: rotate(180deg);
  width: 60px;
  height: 300px;
  position: absolute;
}

/* Make it move to the right */

@keyframes slideright {
  from {
    background-position: 10000%;
  }
  to {
    background-position: 0%;
  }
}

@-webkit-keyframes slideright {
  from {
    background-position: 10000%;
  }
  to {
    background-position: 0%;
  }
}

/* Make it move to the left */

@keyframes slideleft {
  from {
    background-position: 0%;
  }
  to {
    background-position: 10000%;
  }
}

@-webkit-keyframes slideleft {
  from {
    background-position: 0%;
  }
  to {
    background-position: 10000%;
  }
}

.ground-container {
  height: 150px;
  width: 580px;
  left: 80px;
  position: absolute;
}

.ground-moving {
  position: absolute;
  top: 580px;
  height: 150px;
  background-image: url("bottom-background.png");
  background-repeat: repeat-x;
  animation: slideright 100s infinite linear;
  -webkit-animation: slideright 100s infinite linear;
  width: 100%;
  z-index: +1;
}
